<%- include('partials/header') -%>

<div class="container">
  <div class="row justify-content-center">
    <div class="">
      <h1><%=campground.name%></h1>
      <img src=" <%=campground.image%> ">
      <p> <%=campground.description%> </p>
      
    </div>

  </div>
</div>


<%- include('partials/footer') -%>
